# ╔═══════════════════════════════════════╗
# ║   Dependencias                        ║
# ╚═══════════════════════════════════════╝
node_modules/
pnpm-lock.yaml

# ╔═══════════════════════════════════════╗
# ║   Variables de Entorno                ║
# ╚═══════════════════════════════════════╝
.env
.env.local
.env.*.local

# ╔═══════════════════════════════════════╗
# ║   Prisma                              ║
# ╚═══════════════════════════════════════╝
/src/generated/prisma
.prisma

# ╔═══════════════════════════════════════╗
# ║   Build & Output                      ║
# ╚═══════════════════════════════════════╝
dist/
build/
.output
out/

# ╔═══════════════════════════════════════╗
# ║   Archivos subidos                    ║
# ╚═══════════════════════════════════════╝
uploads/

# ╔═══════════════════════════════════════╗
# ║   IDE & Editor                        ║
# ╚═══════════════════════════════════════╝
.vscode/
.idea/
*.swp
*.swo

# ╔═══════════════════════════════════════╗
# ║   Sistema Operativo                   ║
# ╚═══════════════════════════════════════╝
.DS_Store
Thumbs.db

# ╔═══════════════════════════════════════╗
# ║   Logs                                ║
# ╚═══════════════════════════════════════╝
*.log
logs/